*{
box-sizing: border-box;}
body{
  
background-color: #2C2B3D
}
main{display: flex;
align-items: center;
justify-content: space-around;
gap: 70px;
}

header{display: flex;
align-items: center;
justify-content: center;
font-family: 'Open Sans', sans-serif;
}


.linkscabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 1095px;
  height: 40px;
  margin-top: 40px;
}
#linksagrupados{
  display: flex;
  align-items: center;
  gap: 40px;
}

#linksagrupados a{
  text-decoration: none;
  color: aliceblue;
}

#boxprincipal{display: flex;
width: 1095px;
height: 295px;
margin-top: 60px;
gap: 70px;}

#titulo{
  width: 610px;
  height: 40px;
  color: white;
  font-size: 34px;
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'JetBrains Mono', monospace;
}
#titulo strong{
color:#00BFA6;
}
.textos{
width: 610px;
height: 40px;
color: #00BFA6;
font-size: 17px;
line-height: 28px;
font-family: 'Open Sans', sans-serif;
text-align: center;
}
#texto1{
width: 500px;
margin-bottom: 40px;
font-size: 17px;
margin-left: 20px;
}

#textos span{
  color: #c2c2c2;
  font-style: bold;
}

footer{
display: flex;
align-items: center;
justify-content: center;
margin-top: 90px;}

#boxrodape{
width: 650px;
height: 55px;
display: flex;
align-items: center;
justify-content: center;
border-top: 2px solid #00BFA6;
gap: 15px;
padding-top: 30px;
font-family: JetBrains Mono;
color: white;
}
footer a{
text-decoration: none;
color: white;
}
